extends layout

block content
    form.formWrapper#editAccountForm
        h2 Sign Up
        span.errorMessage#signupError
        br

        label(for="fName") First Name: 
        input#fName.inputBox(
            required
            type="text"
            name="fName")

        span.errorMessage#fnameError
        br

        label(for="lName") Last Name: 
        input#lName.inputBox(
            type="text"
            required
            name="lName")

        span.errorMessage#lnameError
        br

        label(for="username") Username: 
        input#username.inputBox(
            type="text"
            required
            name="username")

        span.errorMessage#lnameError
        br

        label(for="email") Email: 
        input#email.inputBox(
            required
            type="email"
            name="email"
            className="inputBox")

        span.errorMessage#emailError
        br

        label(for="state") State: 
        input#state.inputBox(
            required
            type="text"
            name="state")

        span.errorMessage#stateError
        br

        label(for="street") Street: 
        input#street.inputBox(
            required
            type="text"
            name="street")

        span.errorMessage#streetError
        br

        label(for="city") City: 
        input#city.inputBox(
            required
            type="text"
            name="city")
        span.errorMessage#cityError
        br

        label(for="zipCode") Zip Code: 
        input#zipCode.inputBox(
            required
            type="text"
            name="zipCode")
        span.errorMessage#zipcodeError
        br

        label(for="phone") Phone Number: 
        input#phone.inputBox(
            type="text"
            name="phone")
        span.errorMessage#phoneError
        br

        input.inputButton(type="submit" value="Save Changes")