extends layout

block content
    form.formWrapper#editAccountForm
        h2 Edit Account

        label(for="fName") First Name: 
        input#fName.inputBox(
            required
            type="text"
            name="fName")
        span.errorMessage#fnameError

        label(for="lName") Last Name: 
        input#lName.inputBox(
            type="text"
            required
            name="lName")
        span.errorMessage#lnameError

        label(for="username") Username: 
        input#username.inputBox(
            type="text"
            required
            name="username")
        span.errorMessage#usernameError

        label(for="email") Email: 
        input#email.inputBox(
            required
            type="email"
            name="email"
            className="inputBox")
        span.errorMessage#emailError

        label(for="state") State: 
        input#state.inputBox(
            required
            type="text"
            name="state")
        span.errorMessage#stateError

        label(for="street") Street: 
        input#street.inputBox(
            required
            type="text"
            name="street")

        span.errorMessage#streetError

        label(for="city") City: 
        input#city.inputBox(
            required
            type="text"
            name="city")
        span.errorMessage#cityError

        label(for="zipCode") Zip Code: 
        input#zipCode.inputBox(
            required
            type="text"
            name="zipCode")
        span.errorMessage#zipcodeError

        label(for="phone") Phone Number: 
        input#phone.inputBox(
            type="text"
            name="phone")
        span.errorMessage#phoneError

        input.inputButton(type="submit" value="Save Changes")
        span.errorMessage#editAccountError