extends layout.pug

block content
    .movie-container
        if MovieList 
            each movie in MovieList
                .movie-card(data-movieid=movie.id)
                    a.movie-title(href="/movie/" + movie.id) #{movie.title}
                    p #{movie.release_date}
                    img.movie-poster(src="https://image.tmdb.org/t/p/w500" + movie.poster_path, alt="Movie Poster")
                    //Remember to preprocess the overview because it too big
                    p.movie-description #{movie.overview}...
                    .overall-rating
                        .rating-stack
                            //Stars go here, this will be a nightmare
                            .stars(data-movieid=movie.id data-ratingval="0")
                                for i in [0, 1, 2, 3, 4]
                                    span.ratingStar(
                                        data-full="fa fa-star" 
                                        data-half="fa fa-star-half-alt" 
                                        data-empty="far fa-star"
                                    )
                            p.rating-amount 0 ratings
                        button.show-review-button(data-movieid=movie.id) Show Reviews
                    .reviews-mask
                        .reviews-list(id="review-list-" + movie.id)
                            //list reviews here
                            .new-review.disabled.hide-show.hide
                                //star editor goes here
                                //set data-, loop through class, set elements by data
                                .stars-editable(data-movieid=movie.id data-ratingval="0")
                                    for i in [0, 1, 2, 3, 4]
                                        span.ratingStar(
                                            data-full="fa fa-star" 
                                            data-half="fa fa-star-half-alt" 
                                            data-empty="far fa-star"
                                        )

                                //Loop through text inputs and set upload var to the one that changes
                                //Carry data-movie-id with function in order to verify input matches movie
                                input.newReviewTextInput(type="text" data-movieid=movie.id)
                                button.postNewReview(data-movieid=movie.id) Post Review