extends layout.pug

block content
    form.formWrapper#logInForm
        h2 Log In


        label(for="loginUsername") Username:
        input.inputBox#loginUsername(
            required
            type="text"
            name="username")

        label(for="password") Password:
        input#loginPassword.inputBox(
            required
            type="password"
            name="password"
            className="inputBox")
        
        input.inputButton#loginSubmit(type="submit" name="Log In")
        span.errorMessage#loginError

    form.formWrapper#resetPassForm
        h2 Forgot password?

        label(for="email") Email:
        input#email.inputBox(
            type="text"
            name="email")

        input.inputButton#resetPass(type="submit" value="Reset Password")
        span.errorMessage#resetPassError