extends layout.pug

block content
    form.formWrapper#logInForm
        h2 Log In
        span.errorMessage#loginError
        br

        label(for="loginUsername") Username:
        input.inputBox#loginUsername(
            required
            type="text"
            name="username"
        )

        br

        label(for="password") Password:
        input#loginPassword.inputBox(
            required
            type="password"
            name="password"
            className="inputBox"
        )

        br
        input.inputButton#loginSubmit(type="submit" name="Log In")

        br
        if loginError
            span.errorMessage#loginError #{loginError}

    form.formWrapper#resetPassForm
        h2 Forgot password?
        span.errorMessage#resetPassError
        br

        label(for="email") Email:
        input#email.inputBox(
            type="text"
            name="email"
        )

        br
        input.inputButton#resetPass(type="submit" value="Reset Password")

        br
        if resetError
            span.errorMessage#loginError #{resetError}