extends layout.pug

block content
    form.formWrapper#logInForm
        h2 Log In
        label(for="loginUsername") Username:
        input.inputBox#loginUsername(
            required
            type="text"
            name="username"
        )

        br

        label(for="password") Password:
        input#loginPassword.inputBox(
            required
            type="password"
            name="password"
            className="inputBox"
        )

        br
        input.inputButton#loginSubmit(type="submit" name="Log In")

        h2 Forgot password?

        label(for="email") Email:
        input#email.inputBox(
            type="text"
            name="email"
        )

        br
        input.inputButton(type="button" value="Reset Password")

        br
        span.errorMessage#loginError