extends layout

block content
    if movieNotFound
        .movie-error
            h1 404 - Recipe Not Found
            a(href="/") Go Back Home
    else
        .movie-page-container
            img.movie-poster-single(src="https://image.tmdb.org/t/p/w300" + movie.poster_path)
            .movie-information-wrapper
                .movie-name
                    h2 #{movie.title}
                .movie-under-title-info
                    p#movieMPAA #{movieMPRAA}
                    p#movieReleaseDate #{movie.release_date}

                .movie-tag-line
                    p #{movie.tagline}

                .movie-overview
                    h4 Overview
                    p #{movie.overview}
                .overall-rating
                    .rating-stack
                        .stars(data-movieid=movie.id data-ratingval="0")
                            for i in [0, 1, 2, 3, 4]
                                span.ratingStar(
                                    data-full="fa fa-star" 
                                    data-half="fa fa-star-half-alt" 
                                    data-empty="far fa-star"
                                )
                        p.rating-amount 0 ratings
                .reviews-mask
                    .reviews-list(id="review-list-" + movie.id data-movieid=movie.id)
                        //list reviews here
                        .new-review.disabled.hide-show.hide
                            //star editor goes here
                            //set data-, loop through class, set elements by data
                            .stars-editable(data-movieid=movie.id data-ratingval="0")
                                for i in [0, 1, 2, 3, 4]
                                    span.ratingStar(
                                        data-full="fa fa-star" 
                                        data-half="fa fa-star-half-alt" 
                                        data-empty="far fa-star"
                                    )

                            //Loop through text inputs and set upload var to the one that changes
                            //Carry data-movie-id with function in order to verify input matches movie
                            input.newReviewTextInput(type="text" data-movieid=movie.id)
                            button.postNewReview(data-movieid=movie.id) Post Review