extends layout.pug

block content
    form.formWrapper#resetPassForm
        h2 Reset password
        span.errorMessage#resetPassError
        br

        input#token.inputBox(
            type="hidden"
            name="token"
            value="" + token + "")

        label(for="password") Password:
        input#password.inputBox(
            required
            type="password"
            name="password")
        span.errorMessage#passError


        label(for="confirm") Confirm:
        input#confirm.inputBox(
            required
            type="password"
            name="confirm")
        span.errorMessage#confirmError
        
        input.inputButton#resetPass(type="submit" value="Reset Password")
        span.errorMessage#resetPassError
