extends layout.pug

block content
    form.formWrapper#signupForm
        script(src="https://www.google.com/recaptcha/api.js" async defer)
        h2 Sign Up


        label(for="registerFName") First Name
        input#registerFName.inputBox(
            required
            type="text"
            name="registerFName")
        span.errorMessage#fnameError

        label(for="registerLName") Last Name
        input#registerLName.inputBox(
            type="text"
            required
            name="registerLName")
        span.errorMessage#lnameError

        label(for="registerEmail") Email
        input#registerEmail.inputBox(
            required
            type="email"
            name="registerEmail"
            className="inputBox")
        span.errorMessage#emailError

        label(for="registerState") State
        input#registerState.inputBox(
            required
            type="text"
            name="registerState")
        span.errorMessage#stateError

        label(for="registerStreet") Street
        input#registerStreet.inputBox(
            required
            type="text"
            name="registerStreet")
        span.errorMessage#streetError

        label(for="registerCity") City
        input#registerCity.inputBox(
            required
            type="text"
            name="registerCity")
        span.errorMessage#cityError

        label(for="registerZipCode") Zip Code
        input#registerZipCode.inputBox(
            required
            type="text"
            name="registerZipCode")
        span.errorMessage#zipcodeError

        label(for="registerPhone") Phone Number
        input#registerPhone.inputBox(
            type="text"
            name="registerPhone")
        span.errorMessage#phoneError

        label(for="registerPassword") Password
        input#registerPassword.inputBox(
            required
            type="password"
            name="registerPassword")
        span.errorMessage#passError

        div#recaptcha.g-recaptcha(data-sitekey="6LfU2zoaAAAAAE8uHnF4kc5vYMqIcNodmLXJymiK"
        data-callback="onSignupCaptchaCompleted"
        data-size="invisible")

        input.inputButton(type="submit" value="Sign Up")
        span.errorMessage#signupError

        p Already have an account? 
            a(href="/login") Login